.flex{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-itmes:center;
}
.flex2, .flex3{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-itmes:center;
    gap: 32px;
}
.rating-container{
    display: flex;
    flex-directions: row;
    align-itmes: center;
    gap: 12px;
}
.rating{
    margin-left: 36px;
}
